body {
    color: aqua;
    background-color: aliceblue;
}

h1 {
    font-family: fantasy;
    font-style: italic;
}

h2 {
    color: mediumturquoise;
    filter: grayscale(50%); 
}

h3 {
    color: mediumaquamarine;
}